// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #ff1744;
$secondary : #26A69A;
$accent    : #ff3300;

$dark      : #1D1D1D;

$positive  : #24ff57;
$negative  : #ff2c2c;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
