@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';
body.body--dark {
    background: #121212
  }

.header-back{
    background: #212121;
}

.q-btn{
  border-radius: 0;
}